{% block content %}
    <form action="{{ form.action }}" method="{{ form.method }}" id="{{ form.label(form.name) }}" class="{{ form.class }}">
        <fieldset>
            <legend>{{ form.title }}</legend>
            {% for field in form.fields %}
                {% include 'form/fields/'~field.tagname~'.html.twig' with {'form':form, 'field':field} %}
            {% endfor %}
        </fieldset>
    </form>
{% endblock %}
