<p class="submit-form">
    <button id="{{ form.label(field.name) }}" name="{{ form.name(field.name) }}"{% if field.value %} value="{{ field.value }}"{% endif %}{{ field.attributesAsString|raw }}>{{ field.label }}</button>
</p>