{% extends 'admin/layouts/list.html.twig' %}

{% block title %}Project details{% endblock %}

{% block table %}
    <table id="projects-list">
        <th>{{ 'Name'|trans }}</th>
        <th>{{ 'Repository'|trans }}</th>
        <th>{{ 'Status'|trans }}</th>
        <th>{{ 'actions'|trans }}</th>
        <tbody class="main-table">
            {% for project in projects %}
            <tr>
                <td>
                    {{ project.name }}
                </td>
                <td>
                    {{ project.repository }}
                </td>
                <td>
                    {{ project.buildStatuses.first.status }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
